# Mac
.DS_Store

# Python
.ipynb_checkpoints
.idea
__pycache__/

# MV
webcam.mov

# preknowledge
preknowledge

# Others
k-means-mglearn.py
id-card-verify.py
html/
Face_Recognition _on_Olivetti/
data
c05-07-call-tensorflow-model-using-spark-scala.md

